body {
    background-color: black;
  background-image: url(/assets/images/background-pic.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1rem;
  text-align: center;
}



.homeButton{
  order: -1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;

} 
    

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 1rem 2rem;      
        
    border: 0.1rem solid pink;
    cursor: pointer;
    
    
}



nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;                   
    margin: 0;
    padding: 0;
}
button {
    padding: 0.7rem 1.2rem;
    background-color: transparent;
    color: white;
    border: 0.1rem solid pink;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.2rem;
    gap: 1rem;
}
button:hover {
    background-color: pink;
    color: rgb(31, 1, 31);
    transform: translateY(-3px); 
    box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.3); 
}

.infoButtons {
    display: flex;
    justify-content: center; 
    gap: 1.5rem;             
    margin-top: 1.4rem; 
    min-width: 100px;
    padding: 0.7rem 0.9rem;       
}

li a {
  display: block;
  color: white;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

ul li a:hover {
 background-color: pink;
  color: rgb(31, 1, 31);
  box-shadow: 0 0.5rem 0.9rem rgba(255, 255, 255, 0.3)
}

h1{

  font-size: 4rem;
}

