@font-face{

    font-family:"ice";
    src: url(../assets/fonts/Iceberg-Regular.ttf)
}

body {
    background-color: black;
  background-image: url(/assets/images/background-pic.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: "ice", serif, 'Times New Roman';
}

.homeButton{
  order: -1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;

} 

.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    text-align: right;
}


    

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 1rem 2rem;      
        
    border: 0.1rem solid pink;
    cursor: pointer;
    
    
}



nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;                   
    margin: 0;
    padding: 0;
}
button {
    padding: 0.7rem 1.2rem;
    background-color: transparent;
    color: white;
    border: 0.1rem solid pink;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.2rem;
    gap: 1rem;
    font-family: "ice", serif, 'Times New Roman';
}
button:hover {
    background-color: pink;
    color: rgb(31, 1, 31);
    transform: translateY(-3px); 
    box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.3); 
}

.infoButtons {
    display: flex;
    justify-content: center; 
    gap: 1.5rem;             
    margin-top: 1.4rem; 
    min-width: 100px;
    padding: 0.7rem 0.9rem;       
}

li a {
  display: block;
  color: white;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

ul li a:hover {
 background-color: pink;
  color: rgb(31, 1, 31);
  box-shadow: 0 0.5rem 0.9rem rgba(255, 255, 255, 0.3)
}

h1{

  font-size: 4rem;
}

@media screen and (min-width: 768px)
{
   
    body{
        font-size: 1.2rem;
    }
   

    #AboutMe img {
        width: 300px;
        border-radius: 10px;
    }
   body h1 {
        font-size: 4rem; 
    }
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
    .project-card {
        width: 30%; 
        width:300px;
        min-width: 250px;
        text-align: center;
    }
    .project-card img{
       width: 100%;            
    height: 250px;          
    object-fit: cover;      
    object-position: top;   
    border-radius: 0.5rem;


    }

   
    .navigation{
        display:flex;
    }
    
}
    

@media screen and (min-width: 1000px)
{
    .container {
        margin: 0 auto;
    } 
    .aboutMe {
        flex-direction: row;      
        justify-content: center;
        align-items: flex-start;  
        text-align: left; 
        gap: 4rem;        
       
    }
    #AboutMe
    {
        padding: 50px 10%;
        text-align: center;
        align-items:center;
        justify-content: center;
      max-width: 1000px;
    }

}
