.container{
  display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    padding: 1.2rem;
    
}

 

.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    text-align: right;
}
    

body h1{
    font-size: 2.5rem;

}

img{
    width: 100%; 
    max-width: 400px;
    height: auto;
}

@media screen and (min-width: 768px)
{
    
   body h1 {
        font-size: 4rem; 
    }
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .project-card {
        width: 30%; 
        min-width: 250px;
        text-align: center;
    }

    .aboutMe{
        width: 100%;
        text-align: center;
        margin-top: 2rem;

    }
    .navigation{
        display:flex;
    }
    
}
    

@media screen and (min-width: 1000px)
{
    .container {
        margin: 0 auto;
    }
}