
body h1{
    font-size: 3rem;

}

img{
    width: 300px;
    height:auto;
}

@media screen and (min-width: 768px)
{
    body h1{
    font-size: 4.5rem;
}
    

    .container{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        
    }
}

@media screen and (min-width: 1000px)
{
    
}